<div class="container">
<!-- 	ROW 1: Title -->
	<div class="row center_title">
		<div class="row">
			<h1 class="text-success">Bitcoin betting <%= fa_icon "btc"%></h1>
			<p>
				1<i class="fa fa-btc" aria-hidden="true"></i> 
				= <span class="kraken_btc_eur"><%# @kraken_btc_eur%></span> 
				<i class="fa fa-eur" aria-hidden="true"></i>
				(source: <a href="https://www.kraken.com/charts" target="_blank">kraken.com</a>)
			</p>
			<h4 class="click" data-toggle="modal" data-target=".bs-example-modal-sm"><mark>Betting with my bitcoins, how it works ?</mark></h4>		
		</div>
		<div class="row pad_1">
			<div class="col-xs-4">
				<%= fa_icon "user-secret 3x"%> 
				<p>Anonymous</p>	
			</div>
			<div class="col-xs-4">
				<%= fa_icon "user-times 3x"%>
				<p>No account</p>
			</div>
			<div class="col-xs-4">
				<%= fa_icon "arrows-v 3x"%>
				<p>Simple</p>
			</div>
		</div>
	</div>

<!-- 	ROW 2: current bet -->
	<div class="row pad">
		<div class="well center_arrows">
			<div class="row">
				<h4><p class="text-warning">Current bet</p></h4>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<h3><%= @bet_last.id%></h3>
					<p>id</p>
				</div>
				<div class="col-xs-3">
					<h3><%= @bet_last.base_price%> <%= fa_icon "eur"%></h3>
					<p>base price</p>					
				</div>
				<div class="col-xs-3">
					<h3><span class="kraken_btc_eur"><%# @kraken_btc_eur%></span> <%= fa_icon "eur"%></h3>
					<p>current price</p>					
				</div>
				<div class="col-xs-3">
					<h3>43 sec</h3>
					<p>to end</p>					
				</div>
			</div>
		</div>
	</div>

<!-- 	ROW 3: Bet form -->
	<div class="row pad center_arrows">
		<div class="col-sm-6">
			<div class="row">
				<h4 class="text-primary">Bet on up or bet on down ?</h4>
				<%# form_for :bet do |b| %>
					<!-- <div class="input-group">
						<div class="input-group-addon"><%# fa_icon "btc"%></div>
						<%# b.number_field :first_name, class: "form-control", placeholder: "How many bitcoins to bet ?" %>
					</div> -->
				<%# end %>					
			</div>
			<div class="row">
				<div class="col-xs-4 text-success">
					<p class="click"><%= fa_icon "arrow-up 3x"%></p>
					<p>12 <%= fa_icon "btc"%></p>
				</div>
				<div class="col-xs-4">
					<p>Total BTC in the pot: 34 <%= fa_icon "btc"%></p>
					<p>45 min to end</p>
				</div>
				<div class="col-xs-4 text-danger">
					<p>22 <%= fa_icon "btc"%></p>
					<p class="click"><%= fa_icon "arrow-down 3x"%></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h4 class="text-primary">Check your bet status</h4>
			<div class="input-group">
				<input type="text" class="form-control" aria-label="..." placeholder="BTC address you send the bet to">
				<div class="input-group-btn">
					<!-- Buttons -->
					<button type="button" class="btn btn-default" aria-label="Help">Check status</button>
				</div>
			</div>
		</div>
	</div>

<!-- 	ROW 4: bet history -->
	<div class="row pad">
		<p>Prize fee: 5%</p>
<!-- 		<h4 class="center_arrows"><p class="text-warning">Past bets</p></h4> -->
		<table class="table table-striped">
			<thead> 
				<tr>
					<th>Id</th>
					<th>Period</th>
					<th>Base price</th>
					<th>Last price</th>
					<th>Sum</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
<!------------------------ LOOP ---------------------------->
				<% @bets.each do |b|%>
					<tr>
						<th scope="row"><%= b.id%></th>
						<td>12/02 - 12H30/12H45</td>
						<td><%= b.base_price%> <%= fa_icon "eur"%></td>
						<td>1400 <%= fa_icon "eur"%></td>
						<td>3.56 <%= fa_icon "btc"%></td>
						<td>Active</td>
					</tr>
				<%end%>
			</tbody>
		</table>		
	</div>

<!-- Footer -->
    <footer>
        <div class="row inline">
         	<p>Copyright &copy; BetDay <%= Time.now.year%></p>
         	<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm1">Contact</p>
         	<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm2">FAQ</p>
        </div>
    </footer>
</div>

<!-- Small modal How it works ? -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      HOW
    </div>
  </div>
</div>

<!-- Small modal contact form-->
<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      Contact form
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      FAQ
    </div>
  </div>
</div>