<div class="container">
<!-- 	ROW 1: Title -->
	<div class="row center_title">
		<div class="row">
			<h1 class="text-success">Bitcoin betting <%= fa_icon "btc"%></h1>
			<p>
				1<i class="fa fa-btc" aria-hidden="true"></i> 
				= <span class="kraken_btc_eur">000.0000<%# @kraken_btc_eur%></span> 
				<i class="fa fa-eur" aria-hidden="true"></i>
				(kraken.com: <a href="https://www.kraken.com/charts" target="_blank">Charts</a>)
			</p>
			<span class="kraken_server_time">Server Time...<%= kraken.server_time.rfc1123%></span>
			<h4 class="click" data-toggle="modal" data-target=".bs-example-modal-sm"><mark>Betting with my bitcoins, how it works ?</mark></h4>		
		</div>
		<div class="row pad_1">
			<div class="col-xs-4">
				<%= fa_icon "user-secret 3x"%> 
				<p>Anonymous</p>	
			</div>
			<div class="col-xs-4">
				<%= fa_icon "user-times 3x"%>
				<p>No account</p>
			</div>
			<div class="col-xs-4">
				<%= fa_icon "arrows-v 3x"%>
				<p>Simple</p>
			</div>
		</div>
	</div>

<!-- 	ROW 2: current bet -->
	<div class="row pad">
		<div class="well center_arrows">
			<div class="row">
				<h4><p class="text-warning">Current bet</p></h4>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<h3 id="current_bet_id"><%= @bet_last.id%></h3>
					<p>id</p>
				</div>
				<div class="col-xs-3">
					<h3 id="current_bet_base_price"><%= @bet_last.base_price%> <%= fa_icon "eur"%></h3>
					<p>base price</p>					
				</div>
				<div class="col-xs-3">
					<h3><span class="kraken_btc_eur"><%# @kraken_btc_eur%></span> <%= fa_icon "eur"%></h3>
					<p>current price</p>					
				</div>
				<div class="col-xs-3">
					<h3 id="counter">set counter</h3>
					<p>to end</p>					
				</div>
			</div>
		</div>
	</div>

<!-- 	ROW 3: Bet form -->
	<div class="row pad center_arrows">
		<div class="col-sm-6">
			<div class="row">
				<h4 class="text-primary">Bet on up or bet on down ?</h4>					
			</div>
			<div class="row">
				<div class="col-xs-4 text-success">
					<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm3"><%= fa_icon "arrow-up 3x"%></p>
					<p>12 <%= fa_icon "btc"%></p>
				</div>
				<div class="col-xs-4">
					<p>Total BTC in the pot: 34 <%= fa_icon "btc"%></p>
					<p>45 min to end</p>
				</div>
				<div class="col-xs-4 text-danger">
					<p>22 <%= fa_icon "btc"%></p>
					<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm4"><%= fa_icon "arrow-down 3x"%></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h4 class="text-primary">Check your bet status</h4>
			<div class="input-group">
				<input id="btc_address_status" type="text" class="form-control" aria-label="..." placeholder="BTC address you send the bet to">
				<div class="input-group-btn">
					<!-- Buttons -->
					<button id="bet_status" type="button" class="btn btn-default" aria-label="Help">Check status</button>
				</div>
			</div>
		</div>
	</div>

<!-- 	ROW 4: bet history -->
	<div class="row pad">
		<p>Prize fee: 5%</p>
		<table class="table table-striped">
			<thead> 
				<tr>
					<th>Id</th>
					<th>Period</th>
					<th>Base price</th>
					<th>Last price</th>
					<th>Sum</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="bet_loop">
<!------------------------ LOOP ---------------------------->
				<% @bets.each do |bet|%>
 				<tr>
					<th scope="row"><%= bet.id%></th>
					<td><%= bet.created_at%></td>
					<td><%= bet.base_price%> <%= fa_icon "eur"%></td>

					<% if bet.last_price.nil?%>
						<td><span class="kraken_btc_eur"></span> <%= fa_icon "eur"%></td>
					<%else%>
						<%if bet.result == "up"%>
							<td><%= bet.last_price%> <%= fa_icon "eur"%> <%= fa_icon "arrow-up", class: "Active"%></td>
						<%else%>
							<td><%= bet.last_price%> <%= fa_icon "eur"%> <%= fa_icon "arrow-down", class: "Closed"%></td>
						<%end%>
					<%end%>
					
					<td>total btc bet <%= fa_icon "btc"%></td>
					<td class="<%=bet.status%>"><%= bet.status%></td>
				</tr>
<!------------------------ END LOOP ------------------------>
				<%end%>
			</tbody>
		</table>		
	</div>

<!-- Footer -->
    <footer>
        <div class="row inline">
         	<p>Copyright &copy; BetDay <%= Time.now.year%></p>
         	<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm1">Contact</p>
         	<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm2">FAQ</p>
        </div>
    </footer>
</div>

<!-- Small modal How it works ? -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      HOW
    </div>
  </div>
</div>

<!-- Small modal contact form-->
<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      Contact form
    </div>
  </div>
</div>

<!-- FAQ -->
<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      FAQ
    </div>
  </div>
</div>

<!-- Arrow up -->
<div class="modal fade bs-example-modal-sm3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div id="arrow_up_btc" class="modal-content pad">
    	<p class="bg-warning">Bitcoin sent will be bet on UP</p>

		<h6 class="text-primary center_arrows">Enter the Bitcoin address where you would like to receive your winnings</h6>
		<div class="input-group">
			<input id="client_btc_address_up" type="text" class="form-control" aria-label="..." placeholder="Bitcoin address">
			<div class="input-group-btn">
				<!-- Buttons -->
				<button id="bet_up" type="button" class="btn btn-default" aria-label="Help">Bet Up</button>
			</div>
		</div>				
    </div>
  </div>
</div>

<!-- Arrow down -->
<div class="modal fade bs-example-modal-sm4" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div id="arrow_down_btc" class="modal-content pad">
    	<p class="bg-warning">Bitcoin sent will be bet on DOWN</p>

		<h6 class="text-primary center_arrows">Enter the Bitcoin address where you would like to receive your winnings</h6>
		<div class="input-group">
			<input id="client_btc_address_down" type="text" class="form-control" aria-label="..." placeholder="Bitcoin address">
			<div class="input-group-btn">
				<!-- Buttons -->
				<button id="bet_down" type="button" class="btn btn-default" aria-label="Help">Bet Down</button>
			</div>
		</div>				
    </div>
  </div>
</div>