<div class="container">
<!-- 	ROW 1: Title -->
	<div class="row center_title">
		<div class="row">
			<h1 class="text-success">Bet of the day <%= fa_icon "btc"%></h1>
			<p>
				1<i class="fa fa-btc" aria-hidden="true"></i> 
				= <%= flash[:kraken]%> <i class="fa fa-eur" aria-hidden="true"></i>
				(source: <a href="https://www.kraken.com/charts" target="_blank">kraken.com</a>)
			</p>			
		</div>
		<div class="row">
			<div class="col-xs-4">
				<%= fa_icon "user-secret 3x"%> 
				<p>Anonymous</p>	
			</div>
			<div class="col-xs-4">
				<%= fa_icon "user-times 3x"%>
				<p>No account</p>
			</div>
			<div class="col-xs-4">
				<%= fa_icon "arrows-v 3x"%>
				<p>Simple</p>
			</div>
		</div>
	</div>

	<div class="row">
<!-------------------------- When moving one to multiple bet loop HERE ------------------>	
<!-- 		<div class="col-xs-6"> -->
	<!-- 	ROW 2: Bet explanation -->
		<div class="row pad">
			<p class="center_arrows">Bet closes in 45 min</p>
			<div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, tempora, culpa. Assumenda perspiciatis deleniti provident magnam omnis. Quos minima quod distinctio.</div>
		</div>
	<!-- 	ROW 3: arrows up/down -->
			<div class="row center_arrows">
				<div class="col-xs-4">
					<p><%= fa_icon "arrow-up 3x"%></p>
					<p>12 <%= fa_icon "btc"%></p>
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
							<div class="input-group">
								<div class="input-group-addon"><%= fa_icon "btc"%></div>
								<input type="text" class="form-control" id="exampleInputAmount" placeholder="Bitcoins">
							</div>
						</div>
					</form>
				</div>
				<div class="col-xs-4">Total BTC in the pot: 34 <%= fa_icon "btc"%></div>
				<div class="col-xs-4">
					<p>22 <%= fa_icon "btc"%></p>
					<p><%= fa_icon "arrow-down 3x"%></p>
						<div class="form-group">
							<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
							<div class="input-group">
								<div class="input-group-addon"><%= fa_icon "btc"%></div>
								<input type="text" class="form-control" id="exampleInputAmount" placeholder="Bitcoins">
							</div>
						</div>				
				</div>
			</div>			
<!-- 		</div> -->
<!-------------------------- END OF LOOP ------------------>	
	</div>

<!-- 	ROW 4: bet status -->
	<div class="row center_title pad_status">
		<h4 class="text-primary">Check your bet status or bet more</h4>
		<div class="input-group">
			<input type="text" class="form-control" aria-label="..." placeholder="Write the BTC address you send the bet to">
			<div class="input-group-btn">
			<!-- Buttons -->
				<button type="button" class="btn btn-default" aria-label="Help">Check status</button>
				<button type="button" class="btn btn-default" aria-label="Help">Bet +</button>
			</div>
		</div>
	</div>
<!-- Footer -->
    <footer>
        <div class="row inline">
         	<p>Copyright &copy; BetDay <%= Time.now.year%></p>
         	<p>Support</p>
         	<p>FAQ</p>
        </div>
    </footer>
</div>
