<div class="container">
<!-- 	ROW 1: Title -->
	<div class="row center_title">
		<div class="row">
			<h1 class="text-success">Bet like a Bit, on the hour <%= fa_icon "btc"%></h1>
			<p>
				1<i class="fa fa-btc" aria-hidden="true"></i> 
				= <span class="kraken_btc_eur">000.00</span> 
				<i class="fa fa-eur" aria-hidden="true"></i>
				(kraken.com: <a href="https://www.kraken.com/charts" target="_blank">Charts</a>)
			</p>
			<h4 class="click" data-toggle="modal" data-target=".bs-example-modal-sm"><mark>Betting with my bitcoins, how it works ?</mark></h4>		
		</div>
		<div class="row pad_1">
			<div class="col-xs-4">
				<%= fa_icon "user-secret 3x"%> 
				<p>Anonymous</p>	
			</div>
			<div class="col-xs-4">
				<%= fa_icon "user-times 3x"%>
				<p>No account</p>
			</div>
			<div class="col-xs-4">
				<%= fa_icon "arrows-v 3x"%>
				<p>Simple</p>
			</div>
		</div>
	</div>

<!-- 	ROW 2: current bet -->
	<div class="row pad">
		<div class="well center_arrows">
			<div class="row">
				<h4><p class="text-warning">Current bet</p></h4>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<h3 id="current_bet_id"><%= @bet_last.id%></h3>
					<p>id</p>
				</div>
				<div class="col-xs-3">
					<h3 id="current_bet_base_price"><%= @bet_last.base_price%> <%= fa_icon "eur"%></h3>
					<p>base price</p>					
				</div>
				<div class="col-xs-3">
					<h3><span class="kraken_btc_eur">000.00</span> <%= fa_icon "eur"%></h3>
					<p>current price</p>					
				</div>
				<div class="col-xs-3">
					<h3 class="counter"></h3>
					<p>to end</p>					
				</div>
			</div>
		</div>
	</div>

<!-- 	ROW 3: Bet form -->
	<div class="row pad center_arrows">
		<div class="col-sm-6">
			<div class="row">
				<h4 class="text-primary">Bet on up or bet on down ?</h4>					
			</div>
			<div class="row">
				<div class="col-xs-4 text-success">
					<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm3"><%= fa_icon "arrow-up 3x"%></p>
					<p id="current_up"> <%= fa_icon "btc"%></p>
				</div>
				<div class="col-xs-4">
					<p id="current_total"> <%= fa_icon "btc"%></p>
					<p class="counter"></p>
				</div>
				<div class="col-xs-4 text-danger">
					<p id="current_down"> <%= fa_icon "btc"%></p>
					<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm4"><%= fa_icon "arrow-down 3x"%></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h4 class="text-primary">Check your bet status</h4>
			<div class="input-group">
				<input id="btc_address_status" type="text" class="form-control" aria-label="..." placeholder="BTC address you send the bet to">
				<div class="input-group-btn">
					<!-- Buttons -->
					<button id="bet_status" type="button" class="btn btn-default" aria-label="Status" data-toggle="modal" data-target=".bs-example-modal-sm5">Check status</button>
				</div>
			</div>
		</div>
	</div>

<!-- 	ROW 4: bet history -->
	<div class="row pad">
		<p>Prize fee: 5%</p>
		<table class="table table-striped">
			<thead> 
				<tr>
					<th>Id</th>
					<th>Period</th>
					<th>Base price</th>
					<th>Last price</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="bet_loop">
<!------------------------ LOOP ---------------------------->
				<% @bets.each do |bet|%>
 				<tr>
					<th scope="row"><%= bet.id%></th>
					<td><%= bet.created_at%></td>
					<td><%= bet.base_price%> <%= fa_icon "eur"%></td>

					<% if bet.last_price.nil?%>
						<td><span class="kraken_btc_eur"></span> <%= fa_icon "eur"%></td>
					<%else%>
						<%if bet.result == "up"%>
							<td><%= bet.last_price%> <%= fa_icon "eur"%> <%= fa_icon "arrow-up", class: "Active"%></td>
						<%else%>
							<td><%= bet.last_price%> <%= fa_icon "eur"%> <%= fa_icon "arrow-down", class: "Closed"%></td>
						<%end%>
					<%end%>
					
					<td class="<%=bet.status%>"><%= bet.status%></td>
				</tr>
<!------------------------ END LOOP ------------------------>
				<%end%>
			</tbody>
		</table>		
	</div>

<!-- Footer -->
    <footer>
        <div class="row inline">
         	<p>Copyright &copy; BetDay <%= Time.now.year%></p>
         	<p class="click" data-toggle="modal" data-target=".bs-example-modal-sm1">Contact</p>
        </div>
    </footer>
</div>

<!-- Small modal How it works ? -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
What is Bitcoin Betting?
It’s a totalizator where Bitcoin exchange rate against USD is used. 

Brief description of Bitcoin Betting
Every 5 minutes, the BTC/USD exchange rate is fixed at the last price (base price), and you can bet on the rise or fall of the exchange rate in relation to the base price. After the 5-minute interval, the bets are closed, and a new 5-minute bet acceptance period with a new base price begins.
After the betting period is over, the waiting stage of the drawing begins. It lasts 5 minutes. If there are enough participants, the drawing is made after 15 minutes of waiting. At this stage, the BTC/USD exchange rate is also fixed at the last price, and the drawing is made. If you placed an up bet and the price went up, you will receive a prize as a percentage of your bet to the total amount of up bets. In this case, the prize pool is the sum of all down bets. The same algorithm is applied to down bets, but vice versa.

1.1 Interface
The interface consists of the Current bets section and the Past bets table.

1.1.1 Current bets
id (1) – unique drawing number
base price (981.101) – this price is fixed at the last price at the beginning of each drawing
current price (981.201) – the current price changes according to the last price in real time
up bet (0 BTC) – the sum of all up bets
down bet (0 BTC) – the sum of all down bets
remaining time (5 min) – time until the end of the betting period, when bets are accepted

- Bets are only accepted in the active drawing in the Current bets section.
- The minimum bet amount is 0.01 BTC.
- The maximum betting amount in both directions is 10 BTC.
- You can simultaneously place up and down bets, but in this case you should note that your balance can decrease by 5% (prize fee) and become negative.
- All your bets for the current drawing are displayed in the Your current bets section.
- At the end of the betting period, the current drawing goes into the waiting stage. You can see it in the Past bets table. 
- You CAN NOT CANCEL your current bets.

1.1.2 Past bets
id – unique drawing number
period – drawing start, end of the period when bets are accepted, drawing end
base price – this price is fixed at the last price at the beginning of each drawing
current price – the current price changes according to the last price
bets count – the number of all bets, the number of all up bets, the number of all down bets
sum – the sum of all bets, the sum of all up bets, the sum of all down bets

1.1.3 Statuses of past periods
active – bets are being accepted
waiting – the winner of the drawing is being determined
ended – the drawing ended, and the prize pool was distributed
canceled – the drawing was canceled due to lack of participants or if the base price was equal to the last price

1.2 Drawing
- Provided that there were no bets in the drawing, the drawing is canceled.
- Provided that the bets were placed only in one direction (only up or only down bets), the drawing is canceled, and all bets are automatically refunded on the user accounts without any commission.
- If the condition of placing at least one bet in both directions by the end of the betting period is fulfilled, the drawing enters the stage of price fixing.
- The determination of winners is done by fixing the last price at the end of the drawing time.
- Prize money is automatically distributed on the winner’s accounts.
- The calculation of the prize pool is done automatically depending on the bet amount in percentage correlation.
- The commission is 5% of the prize amount. It is calculated and automatically deducted from the prize amount.

1.3 Description of transactions in transaction history
- betting (transaction relates to the Bitcoin Betting section), period#1 (unique drawing number), bet#1 (unique bet number in the drawing) up bet (bet direction: up bet (in this case) or down bet), base price 985.998 (base price)

- betting (transaction relates to the Bitcoin Betting section), period#1 (unique drawing number), *** ("win", or "not enough players", or "last price equal to base price") refund (bet refund in the case of a win or if the drawing was not made), bet#1 (unique bet number in the drawing)

- betting (transaction relates to the Bitcoin Betting section), period#1 (unique drawing number), prize 0.01 BTC (prize amount) -5% fee. (service commission) prize pool 0.01 BTC (prize pool) (100%) (the percentage of your bet to the total sum of bets)

We wish you good luck in Bitcoin Betting!
Best Regards,
BTC-e Team
    </div>
  </div>
</div>

<!-- Small modal contact form-->
<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      Contact form
    </div>
  </div>
</div>

<!-- Arrow up -->
<div class="modal fade bs-example-modal-sm3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div id="arrow_up_btc" class="modal-content pad">
    	<p class="bg-warning">Bitcoin sent will be bet on UP</p>

		<h6 class="text-primary center_arrows">Enter the Bitcoin address where you would like to receive your winnings</h6>
		<div class="input-group">
			<input id="client_btc_address_up" type="text" class="form-control" aria-label="..." placeholder="Bitcoin address">
			<div class="input-group-btn">
				<!-- Buttons -->
				<button id="bet_up" type="button" class="btn btn-default" aria-label="Help">Bet Up</button>
			</div>
		</div>				
    </div>
  </div>
</div>

<!-- Arrow down -->
<div class="modal fade bs-example-modal-sm4" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div id="arrow_down_btc" class="modal-content pad">
    	<p class="bg-warning">Bitcoin sent will be bet on DOWN</p>

		<h6 class="text-primary center_arrows">Enter the Bitcoin address where you would like to receive your winnings</h6>
		<div class="input-group">
			<input id="client_btc_address_down" type="text" class="form-control" aria-label="..." placeholder="Bitcoin address">
			<div class="input-group-btn">
				<!-- Buttons -->
				<button id="bet_down" type="button" class="btn btn-default" aria-label="Help">Bet Down</button>
			</div>
		</div>				
    </div>
  </div>
</div>

<!-- Status-->
<div class="modal fade bs-example-modal-sm5" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div id="modal_status" class="modal-content">
     
    </div>
  </div>
</div>